body{
    background-color: #e9f419;
    font-family: 'Arial', Arial, Verdana, Helvetica, sans-serif;
}
.sisu{
    padding: 10px 10px;
}
p{
    text-align: center;
    font-size: large;
}
h1{
    text-align: center;
    font-size: xx-large;
}
.värviline{
    font-weight: absolute;
    color: #85110b;
}
h2{
    text-align: center;
    font-size: x-large;
    font-weight: absolute;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    padding: 10px;
}
div.kontaktid {
    text-align: center;
}
h3.pealkiri{
    display: inline-block;
    text-align: center;
    font-size: medium;
    margin-bottom: 10px;
}
ul.numbrid{
    list-style: none;
    display: inline-block;
    text-align: center;
    font-size: small;
    margin-bottom: 10px;
}